.yao-wrap {
  width: 120px;
  height: 30px;
  background-color: #333;
  margin-top: 5px;
  position: relative;
}

.yin {
  background-color: #fff;
  position: absolute;
  width: 20px;
  height: 32px;
  top: -1px;
  left: 50px;
}
