.result-card {
  width: 100%;
}

.result-gua-wrap {
  width: 100%;
}

.result-header {
  & .result-title {
    margin: 20px auto 10px;
    font-size: 26px;
    color: #333;
  }

  & p {
    font-size: 14px;
    color: #666;
  }
}

.gua-wrap {
  & .gua,
  & .ming {
    width: 30%;
  }

  & .img {
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

h3 span {
  color: #aaa;
}

.result-detail-wrap {
  border-radius: 4px;
  margin: 10px auto;
  padding: 6px;
  width: 370px;
}

.detail-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

.detail-title {
  width: 60px;
  min-height: 60px;
  background-color: rgb(226, 221, 218);
  border-radius: 4px;
  padding: 2px 0;
  color: #666;
  display: flex;
}

.detail-content {
  width: 280px;
  min-height: 60px;
}