.result-card {
  width: 100%;
}

.result-gua-wrap {
  width: 100%;
}

.result-header {
  & .result-title {
    margin: 20px auto 10px;
    font-size: 26px;
    color: #333;
  }

  & p {
    font-size: 14px;
    color: #666;
  }
}

.gua-wrap {
  & .gua,
  & .ming {
    width: 30%;
  }

  & .img {
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.result-jx-wrap{
  padding: 10px 20px;
  text-align: left;
}

.jx-title{
  font-size: 16px;
  font-weight: 600;
}