#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

h1{
  height: 6px;
  background-color: #eee;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.App{
  padding-bottom: 40px;
}